
  .van-cell__value {
    display: flex;
  }
  .van-field__button .van-button{
    height: 42px;
  }
  .van-button__text{
    color: #fff;
  }
  .van-field__icon{
    right: 10px;
  }
  .van-cell-group .van-field__body .van-field__button .van-button--primary{
    background-color: #81b824;
  }
  .van-cell-group .van-field__body .van-field__button .van-button--normal{
    padding: 0 20px;
  }
  .detail{
    .van-button__text{
      color: #6c6c6c;
    }
  }
